body {
	margin: 0 auto;
}
.actio {
position: relative;
bottom: 160px;
margin: 0 auto;
width: 240px;
z-index:99;
font-size: 1.8rem;
letter-spacing: 5px;
font-weight: 500;
}

.sli {
	height: 93vh;
	width: 100%;
}

.slider.fullscreen {
	height: 93vh;
}

.caption  {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 15px;
	
	
}

.slider .slides li .caption {
	width: 600px;
}


nav {
	position: fixed;
	height: 7vh;
	z-index: 99;
}
.icons {
	margin: 0 auto;
	width: 100%;
	padding: 35px 20px;

}

.promo-row {
	margin: 20px;
}

.formularz {
	padding: 35px 20px;
}

.camera {
	padding: 35px 20px;
	height: 100%;
}

footer.page-footer {
	background-color: #3278CF;
}