body {
	margin: 0 auto;
}
.actio {
position: relative;
bottom: 160px;
margin: 0 auto;
width: 240px;
z-index:99;
font-size: 1.8rem;
letter-spacing: 5px;
font-weight: 500;
}



.sli {
	height: 100vh;
	width: 100%;
}

.icons {
	margin: 0 auto;
	width: 100%;
	padding: 35px 20px;

}

.promo-row {
	margin: 20px;
}

.formularz {
	padding: 35px 20px;
}

.camera {
	padding: 35px 20px;
	height: 100%;
}